@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
} */

/* ::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
} */

/* ::-webkit-scrollbar-corner {
  background: var(--background);
} */

/* html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
} */

/* circle.enable-trigger-circle {
  fill: black;
} */
